---
# Styles
---
html {
  background: no-repeat fixed url(../images/synthwave_bg.jpg);
}

body {
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    font-family: sans-serif;
    font-weight: 400;
    color: #3A3A3A;
}

* {
    box-sizing: border-box;
}

h1 { font-size: 2.4rem; line-height: 3rem; font-weight: 700; }

h2 { font-size: 2rem; line-height: 2.8rem; font-weight: 400; }

h3 { font-size: 1.4rem; line-height: 2.2rem; display: inline; font-weight: 700; vertical-align: middle; }

a { color:#fc15e9; }

footer, header { display: none; }

.portfolio {
    background: no-repeat url(../images/header_img.png);
    background-position:50% 60px;
    list-style: none;
    padding:  400px 0 0 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    &:hover {
        .repo {
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.repo {
    position: relative;
    display: block;
    color: #d7fffe;
    width: 99%;
    height: 350px;
    margin: 6% 1% 1% 1%;
    padding: 30px 30px;
    border: solid 2px #27fdf5;
    background: #111111;
    transition: .2s;
    @media (max-width: 960px) {
        width: 49%;
    }
    &:nth-of-type(3n) {
        border-right: 0;
    }
    a {
        text-decoration: none;
    }
}

.details { position: absolute; font-size: .8rem; top: 15px; right: 20px; opacity: 0.75; }
.details span { color:#27fdf5; margin-left: 16px; }

.icon { fill:#27fdf5; width: 24px; height: 24px; margin-right: 10px; vertical-align: middle; position: relative; }
.icon--sub { fill: #fc15e9; width: 16px; height: 16px; margin: 0; vertical-align: sub; }
