---
# Front matter
---

<!doctype html>
<html lang="en-GB">
  <head>
    <title>PasiP GitHub.io Page</title>
    <link href="./css/styles.css" media="all" rel="stylesheet">
  </head>
 <body>

   <ul class="portfolio">
    {% for repo in site.github.public_repositories limit:28 %}

       {% if repo.fork != true %}
         <li class="repo">
          <h3><a href="{{ repo.homepage }}">{{ repo.name }}</a></h3>
          <p>{{ repo.description }}</p>

          <aside class="details">
            <span>
              <svg class="icon  icon--sub">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star">
                  <svg id="star" viewBox="0 0 16 16">
                    <path d="M14 6l-4.9-0.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14l4.33-2.33 4.33 2.33L10.4 9.26 14 6z"></path>
                  </svg>
                </use>
              </svg>
              {{ repo.stargazers_count }}
            </span>
            <span>Forks {{ repo.forks_count }}</span>
          </aside>
        </li>
      {% endif %}

    {% endfor %}
  </ul>

 </body>
</html>
