---
# Front matter
---

<!doctype html>
<html lang="en-GB">
  <head>
    <title>PasiP GitHub.io Page</title>
    <link href="./css/styles.css" media="all" rel="stylesheet">
  </head>
 <body>
   <ul class="portfolio">
     <li class="repo">
       <h3><img src="./images/1f44b.svg" alt="wave" class="icon">Hello, my name is Pasi Pekkala.</h3>
       <p>I code and design beautiful simple things, and I love <img src="./images/2764.svg" alt="hearth" class="icon--small"> what I do. I use HTML, CSS, and JavaScript to produce responsive websites and web apps that provide users the best and most appropriate experience.  Feel free to take a look at some of my programs and projects below.</p>
     </li>
    {% for repo in site.github.public_repositories limit:24 %}

      {% if repo.fork != true %}
         <li class="repo">
           <svg class="icon">
             <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./images/icons.svg#{{ repo.language | downcase }}" />
           </svg>
          <h3><a href="{{ repo.svn_url }}">{{ repo.name }}</a></h3>
          <p>{{ repo.description }}</p>
          <p>
            {% for tech in site.data.technologies %}
              {% if tech.name == repo.name %}
                Technologies used: <br />
                {{ tech.technologies }}
              {% endif %}
            {% endfor %}
          </p>

          <aside class="details">
            <span>
              <svg class="icon  icon--sub">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./images/icons.svg#star" />
              </svg>
              {{ repo.stargazers_count }}
            </span>
            <span>
              <svg class="icon  icon--sub">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./images/icons.svg#fork" />
              </svg>
              {{ repo.forks_count }}</span>
          </aside>
        </li>
        {% endif %}

    {% endfor %}
  </ul>

 </body>
</html>
